div {
    background-color: gray;
    color: white;
}
main * {
    overflow: auto;
    display: inline-block;
    height: 90%;
    margin: 10px;
}
.actions {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    font-size: medium;
}
